@page "/claims"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<h3>Claims</h3>

<AuthorizeView>
	<ul>
		@foreach (var claim in context.User.Claims)
		{
			<li><b>@claim.Type</b>: @claim.Value</li>
		}
	</ul>
</AuthorizeView>
