@page "/login"
@using Microsoft.AspNetCore.SignalR.Client
@using BlazorSuviIdent.Shared
@using Microsoft.AspNetCore.Http 
@inject NavigationManager _nm
@inject HttpClient _hc


@if (_greske.Count > 0)
{
	<p><b>Greske:</b></p>
	<ul>
		@foreach (string greska in _greske)
		{
			<li>@greska</li>
		}
	</ul>
}

<EditForm Model="_reg" OnSubmit="LogIn">
	<p>Ime:</p>
	<InputText @bind-Value="_reg.Uname" />
	<p>Sifra:</p>
	<InputText @bind-Value="_reg.Sifra" />
	<p><button class="btn-primary" type="submit">Registracija</button></p>
</EditForm>


@code
{
	private Registracija _reg = new Registracija();
	private List<string> _greske = new List<string>();


	private async Task LogIn()
	{
		await _hc.PostJsonAsync("LogIn", _reg);
	}
}
