@page "/login"
@using Microsoft.AspNetCore.SignalR.Client
@using BlazorSuviIdent.Shared
@using Microsoft.AspNetCore.Http
@using zklj;
@inject NavigationManager _nm
@inject ProbniServis.ProbniServisClient _klijent



<p><b>@_greska</b></p>


<EditForm Model="_reg" OnSubmit="LogIn">
	<p>Ime:</p>
	<InputText @bind-Value="_reg.Uname" />
	<p>Sifra:</p>
	<InputText @bind-Value="_reg.Sifra" />
	<p><button class="btn-primary" type="submit">Log in</button></p>
</EditForm>


@code
{
	private Registracija _reg = new Registracija();
	private string _greska;


	private async Task LogIn()
	{
		_greska = "";
		if ((await _klijent.LoginAsync(new LoginPoruka {Kor = _reg.Uname, Pass = _reg.Sifra })).Uspeh)
			_nm.NavigateTo("/", forceLoad: true);
		else
			_greska = "No go";

	}
}
